canvas {
    position: absolute;
    top : 10%;
    left : 10%;
    background-image: url(../images/decort.jpg)
}

.deaths {
    text-transform:uppercase;
    font: 2vw/1 "Bangers", sans-serif;
    font-weight: bold;
      color: #e9ecef

}

.level {
    text-transform:uppercase;
    font: 3vw/1 "Bangers", sans-serif;
    font-weight: bold;
    color: #e9ecef
}

.chrono {
    font: 2vw/1 "Bangers", sans-serif;
    color: #e9ecef
}

#mainGame{
  height: 635px;
  width: auto;
  background: #333;
}

.score{
  padding-top: 250px;
  padding-left: 20px;
}

.values{
padding-top: 20px;
}

.instructions{
  width: 850px;
  height: 400px;
  margin: 0 auto;
  background: #f8f7fa;
}

.instructions img{
  width: 800px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.containerControl{
  background: #f8f7fa
}

.instructions h4{
  text-align: center;
  padding-top: 50px;
  font-family: 'Bangers';
  font-size: 45px;
}

.scrollArrow{
  height: 50px;
  background: #333;
}

.scrollArrow img{
  width: 40px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
