canvas {
    position: absolute;
    top : 10%;
    left : 10%;
}

.deaths {
    text-transform:uppercase;
    font: 2vw/1 "Bangers", sans-serif;
    font-weight: bold;
}

.level {
    text-transform:uppercase;
    font: 2vw/1 "Bangers", sans-serif;
    font-weight: bold;
}

.chrono {
    font: 2vw/1 "Bangers", sans-serif; 
}
